body {
    background-color: var(--bs-gray-200);
}

.container {
    background-color: var(--bs-white);
}

.description-container {
    max-height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.vertical-separator {
    border: 1px solid var(--bs-body-color);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.vertical-line {
    border-left: 2px solid var(--bs-gray);
    height: 50px;
}

.not-found {
    height: 90vh;
    /* background-color: var(--bs-gray-200); */
}

.not-found h1 {
    font-size: 3rem;
    padding-right: 0.3rem;
}

.not-found h2 {
    font-size: 2rem;
    padding-left: 0.3rem;
}

.border-right {
    border-right: 2px solid var(--bs-gray);
}
