body {
    background-color: var(--bs-gray-200);
}

.container {
    background-color: var(--bs-white);
}

.description-container {
    max-height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.vertical-separator {
    border: 1px solid var(--bs-body-color);
}